html{
    margin: 0;
}

span{
    display: block;
}

.boxs{
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.btn {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    gap: 5;
    cursor: pointer;
    
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #red {
    background: red;
  }